<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Listado de Usuarios</h2>
    <table>
        <thead>
            <tr><th>ID</th><th>Nombre</th><th>Email</th></tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.idUsuario}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
